.advantages {}

.advantages__header {}

.advantages__slogan {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 33px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $blue-dark;
  text-align: center;

  span {
    display: block;
    margin-bottom: 30px;
  }

  @media ($bp-tablet) {
    padding-top: 50px;
    padding-bottom: 90px;

    font-size: 40px;
    line-height: 48px;

    span {
      margin: 0;
    }
  }

  @media ($bp-desktop) {
    padding-top: 75px;
    padding-bottom: 170px;

    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__body {
  position: relative;

  background-color: $bg-color-grey;

  @include triangle ($bg-color-grey, $bg-color-grey, $bg-color-grey, 32px, 50px, 90px);
}

.advantages__wrapper {
  position: relative;

  padding: 0 $padding-mobile;
  padding-top: 55px;
  padding-bottom: 290px;

  text-align: center;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    width: 157px;
    height: 281px;

    background-image: url("../img/index/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateX(-50%);
  }

  @media ($bp-tablet) {
    padding-left: 330px;
    padding-top: 25px;
    padding-bottom: 40px;

    text-align: left;

    &::after {
      // top: -50px;
      left: 20px;
      bottom: 0;

      width: 268px;
      height: 480px;

      // background-image: url("../img/index/iphone-screen-mobile@1x.png");
      background-image: url("../img/index/iphone-screen-3-tablet@1x.png");
      // background-size: cover;
      transform: translateX(0);
    }
  }

  @media ($bp-desktop) {
    padding: 0;

    text-align: center;

    &::after {
      display: none;
    }
  }

}

.advantages__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media ($bp-desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;

  margin-bottom: 30px;

  @media ($bp-tablet) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media ($bp-desktop) {
    flex: 0 0 33.33%;

    padding-top: 265px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;

    &--cheer-up {
      &::before {
        content: "";

        position: absolute;
        top: -95px;
        left: 50%;
        z-index: 2;

        width: 292px;
        height: 302px;

        background-image: url("../img/index/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: 0 0;

        transform: translateX(-50%);
      }
    }

    &--change--world {
      &::before {
        content: "";

        position: absolute;
        top: -95px;
        left: 50%;
        z-index: 2;

        width: 292px;
        height: 302px;

        background-image: url("../img/index/iphone-screen-2-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: 0 0;

        transform: translateX(-50%);
      }
    }

    &--make-friends {
      &::before {
        content: "";

        position: absolute;
        top: -95px;
        left: 50%;
        z-index: 2;

        width: 292px;
        height: 302px;

        background-image: url("../img/index/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: 0 0;

        transform: translateX(-50%);
      }
    }

  } // @media ($bp-desktop)

} //.advantages__item

.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  @media ($bp-desktop) {
    font-size: 30px;
    line-height: 36px;
  }
}

.advantages__text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: $blue-dark;

  @media ($bp-desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}
