.effect {
  display: none;

  @media ($bp-tablet) {
    display: block;
  }

  @media ($bp-desktop) {
    background-color: $bg-color-grey;
  }
}

.effect__wrapper {
  position: relative;

  padding-top: 90px;
  padding-bottom: 85px;
  padding-left: 330px;
  padding-right: 30px;

  &::before {
    content: "";

    position: absolute;
    top: 58px;
    left: $padding-tablet;

    width: 238px;
    height: 276px;

    background-image: sassvg("icon-timer", #dedede);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::after {
    position: absolute;
    content: "24";
    text-align: center;
    width: 202px;
    height: 202px;
    padding: 12px;
    left: 38px;
    top: 114px;
    border: 15px solid #d22856;
    border-radius: 50%;
    font-size: 96px;
    font-weight: 700;
    line-height: 138.47px;
    color: #d22856;
  }

  @media ($bp-desktop) {
    padding-top: 150px;
    padding-bottom: 110px;
    padding-left: 370px;

    &::before {
      top: 58px;
      left: $padding-tablet;
      width: 298px;
      height: 345px;
    }

    &::after {
      width: 253px;
      height: 253px;
      left: 43px;
      top: 128px;
      border: 17px solid #d22856;
      font-size: 120px;
      line-height: 180px;
    }

  }
}

.effect__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  br {
    display: none;
  }

  @media ($bp-desktop) {
    margin-bottom: 20px;
  }
}

.effect__text {
  margin: 0;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 24px;
  color: $blue-dark;

  @media ($bp-desktop) {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  font-size: 14px;
  line-height: 24px;

  color: $pink;

  transition: all 0.3s;

  &:hover {
    color: $blue-dark;
  }

  &:active {
    color: $blue-dark;
    opacity: 0.3;
  }
}
