
.intro {
  background-color: $bg-color-main-image;

  @include background-image-webp("../img/bg-back-mobile@1x", "jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-size: 700px auto;

  @media ($retina-dpi), ($retina-dppx) {

    // .webp & {
    //   background-image: url("../img/bg-back-mobile@2x.webp");
    // }

    // .no-webp & {
    //   background-image: url("../img/bg-back-mobile@2x.jpg");
    // }
    @include background-image-webp("../img/bg-back-mobile@2x", "jpg");
    // background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @media ($bp-tablet) {

    // .webp & {
    //   background-image: url("../img/bg-back-tablet@1x.webp");
    // }

    // .no-webp & {
    //   background-image: url("../img/bg-back-tablet@1x.jpg");
    // }
    @include background-image-webp("../img/bg-back-tablet@1x", "jpg");
    // background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    // background-size: 1200px auto;

    @media ($retina-dpi), ($retina-dppx) {

      // .webp & {
      //   background-image: url("../img/bg-back-tablet@2x.webp");
      // }

      // .no-webp & {
      //   background-image: url("../img/bg-back-tablet@2x.jpg");
      // }
      @include background-image-webp("../img/bg-back-tablet@2x", "jpg");
      // background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
      // background-size: 1200px auto;
    }
  }

  @media ($bp-desktop) {

    .webp & {
      background-image: url("../img/bg-back-desktop@1x.webp");
    }

    .no-webp & {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }

    // background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    // background-size: 2560px auto;

    @media ($retina-dpi), ($retina-dppx) {

      .webp & {
        background-image: url("../img/bg-back-desktop@2x.webp");
      }

      .no-webp & {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
      // background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.intro__wrapper {
  position: relative;

  padding-top: 465px;

  &::before {
    content: "";

    position: absolute;
    top: 175px;
    left: 50%;

    width: 257px;
    height: 286px;

    .webp & {
      background-image: url("../img/index/iphone-hand-mobile@1x.webp");
    }

    .no-webp & {
      background-image: url("../img/index/iphone-hand-mobile@1x.png");
    }

    // background-image: url("../img/index/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateX(-60%);

      @media ($retina-dpi), ($retina-dppx) {

        .webp & {
          background-image: url("../img/index/iphone-hand-mobile@2x.webp");
        }

        .no-webp & {
          background-image: url("../img/index/iphone-hand-mobile@2x.png");
        }
        // background-image: url("../img/index/iphone-hand-mobile@2x.png");
        background-size: 257px auto;
      }
  }

  @media ($bp-tablet) {
    padding-top: 200px;
    padding-right: $padding-tablet;
    padding-left: $padding-tablet;
    padding-bottom: 105px;

    &::before {
      content: "";

      top: auto;
      bottom: 0;

      width: 480px;
      height: 545px;


      .webp & {
        background-image: url("../img/index/iphone-hand-tablet@1x.webp");
      }

      .no-webp & {
        background-image: url("../img/index/iphone-hand-tablet@1x.png");
      }

      // background-image: url("../img/index/iphone-hand-tablet@1x.png");
      transform: translateX(-35%);

      @media ($retina-dpi), ($retina-dppx) {

        .webp & {
          background-image: url("../img/index/iphone-hand-tablet@1x.webp");
        }

        .no-webp & {
          background-image: url("../img/index/iphone-hand-tablet@1x.png");
        }

        // background-image: url("../img/index/iphone-hand-tablet@1x.png");
        background-size: 480px auto;
      }
    }
  }

  @media ($bp-desktop) {
    padding-top: 220px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 123px;

    &::before {
      content: "";

      left: auto;
      right: 35px;

      width: 568px;
      height: 645px;

      .webp & {
        background-image: url("../img/index/iphone-hand-desktop@1x.webp");
      }

      .no-webp & {
        background-image: url("../img/index/iphone-hand-desktop@1x.png");
      }

      // background-image: url("../img/index/iphone-hand-desktop@1x.png");
      transform: translateX(0);

      @media ($retina-dpi), ($retina-dppx) {

      .webp & {
        background-image: url("../img/index/iphone-hand-desktop@2x.webp");
      }

      .no-webp & {
        background-image: url("../img/index/iphone-hand-desktop@2x.png");
      }

        // background-image: url("../img/index/iphone-hand-desktop@2x.png");
        background-size: 568px auto;
      }
    }
  }
}

// .intro__image {
//   margin: 0;
//   margin-bottom: 28px;

//   img {
//     display: block;
//     margin: 0 auto;

//     transform: translateX(-30px);
//   }

//   @media ($bp-tablet) {
//     position: absolute;
//     bottom: 0;
//     right: 21px;

//     margin-bottom: 0;

//     img {
//       transform: translateX(0);
//     }
//   }

//   @media ($bp-desktop) {
//     right: 35px;
//   }
// }

.intro__inner {
  position: relative;
  z-index: 2;

  padding: 0 $padding-mobile;
  padding-top: 28px;
  padding-bottom: 35px;

  color: $color-white;

  @media ($bp-tablet) {
    width: 300px;
    padding: 0;
  }

  @media ($bp-desktop) {
    padding: 0;
  }
}

.intro__slogan {
  display: none;
  margin: 0;

  @media ($bp-tablet) {
    display: block;
    padding: 0 50px;
    margin-bottom: 27px;

    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
  }

  @media ($bp-desktop) {
    padding: 0 30px;
    margin-bottom: 53px;

    font-size: 50px;
    line-height: 59px;
  }
}

.intro__button {
  margin-bottom: 32px;

  @media ($bp-tablet) {
    margin-bottom: 45px;
  }

  @media ($bp-desktop) {
    margin-bottom: 65px;
    font-size: 21px;
  }
}

.intro__list-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include list-reset ();
  margin-bottom: 20px;
  padding: 0 38px;

  @media ($bp-tablet) {
    margin-bottom: 40px;
  }

  @media ($bp-desktop) {
    margin-bottom: 55px;
  }
}

.intro__item {}

.intro__icon {
  display: block;

  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.intro__icon--apple {}
.intro__icon--android {}
.intro__icon--microsoft {}

.intro__text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;

  @media ($bp-tablet) {
    font-size: 18px;
  }
}
