.map {
   height: 200px;

  @include background-image-webp("../img/bg-map-mobile@1x", "png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media ($bp-tablet) {
    height: 380px;

    @include background-image-webp("../img/bg-map-tablet@1x", "jpg");
  }

  @media ($bp-desktop) {
    height: 500px;

    @include background-image-webp("../img/bg-map-desktop@1x", "jpg");
  }
}
