.button {
  display: inline-block;

  width: 160px;
  padding: 12px 0;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;

  border: 1px solid #e5ddd5;
  cursor: pointer;

  &:hover {
    border-color: #d5c9bd;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
  }

  &--brown {
    color: #fff;

    background-color: #826550;

    &:hover {
      background-color: #6a4d38;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width:  $bp-tablet) {
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}
