.container {
  // width: $mobile-width;
  // margin: 0 auto;
  width: auto;


  @media (min-width: $bp-tablet) {
    // width: $tablet-width;
    // margin: 0 auto;
    // width: auto;
    width: 100%;
    padding: 0 $tablet-padding;
  }

  @media (min-width: $bp-desktop) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0;
  }
}
