.container {
  width: $mobile-width;
  margin: 0 auto;
  // width: auto;

  background-color: #005555;

  @media ($bp-tablet) {
    width: $tablet-width;
    margin: 0 auto;
    // width: auto;
  }

  @media ($bp-desktop) {
    width: $desktop-width;
    margin: 0 auto;
  }
}
