.page {
  min-width: $mobile-width;

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-style: normal;
  color: $font-color-base;

  background-color: $bg-white;

  // overflow-x: hidden;
}
