.page-header {
  position: relative;
  z-index: 2;

  background-color: $bg-color-header;
}

.page-header__wrapper {
  position: relative;

  @media ($bp-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo {
  display: block;
  padding: 22px 0;
  padding-left: $padding-mobile;

  @media ($bp-tablet) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media ($bp-desktop) {
    padding-left: 0;
  }
}

.page-header__logo-image {
  display: block;

  fill: $color-white;

  transition: $timing-function-menu;

  .page-header__logo[href] & {

    &:hover {
      fill: $color-pink;
    }

    &:active {
      fill: $color-white;
      opacity: 0.3;
    }
  }

  &--mobile {
    width: 75px;
    height: 22px;

    @media ($bp-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media ($bp-tablet) {
      display: block;
      width: 147px;
      height: 40px;
    }

    @media ($bp-desktop) {
      display: none;
      width: 147px;
      height: 40px;
    }
  }

  &--desktop {
    display: none;

    @media ($bp-desktop) {
      display: block;
    }
  }

}

.page-header--open-menu {
  background-color: $bg-color-menu-items;
  .page-header__logo {
    padding-bottom: 24px;

    @media ($bp-tablet) {
      padding-bottom: 42px;
    }
  }
}

.page-header--nojs {
  background-color: $bg-color-menu-items;
  .page-header__logo {
    padding-bottom: 24px;

    @media ($bp-tablet) {
      padding-bottom: 42px;
    }
  }
}

  @media (max-width: $width-only-mobile-tablet) {

  .page-header--open-menu {
    .page-header__logo {
      border-bottom: 1px solid #000000;
      background-color: $bg-color-menu-items;
    }
  }

    .page-header--nojs {
      .page-header__logo {
        border-bottom: 1px solid #000000;
        background-color: $bg-color-menu-items;
      }
    }
  }
