.developer {
  display: flex;
  justify-content: center;
}

.developer__title {
  margin: 0;
  margin-right: 15px;

  font-size: 14px;
  color: $blue-dark;

  @media ($bp-desktop) {
    font-size: 18px;
  }
}

.developer__link {

}

.developer__icon {
  display: block;

  fill: $pink;

  transition: all 0.3s;

  &:hover {
    fill: $blue-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
