.social {}

.social__list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  font-size: 0;
  line-height: 0;
}

.social__link {
  position: relative;

  display: block;
  width: 51px;
  height: 51px;
  margin: 0 6px;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  transition: all 0.3s;

  &:hover  {
    border-color: $blue-dark;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    background-repeat: no-repeat;
    background-position: 0 0;

    transform: translate(-50%, -50%);
  }

  &--twitter {
    &::before {
      width: 18px;
      height: 14px;

      background-image: sassvg("icon-twitter", $pink);
    }
  }

  &--facebook {
    &::before {
      width: 9px;
      height: 18px;

      background-image: sassvg("icon-facebook", $pink);
    }
  }

  &--youtube {
    &::before {
      width: 15px;
      height: 13px;

      background-image: sassvg("icon-youtube", $pink);
    }
  }
}

