
@mixin triangle ($bg-color-modile, $bg-color-tablet, $bg-color-desktop, $height-modile, $height-tablet, $height-desktop) {

  &::before{
    content: "";

    position: absolute;
    top: ($height-modile * -1);
    z-index: 2;

    width: 0;
    height: 0;

    border-bottom: $height-modile solid $bg-color-modile;
  }

  &::before {
    right: 0;
    border-left: 100vw solid transparent;
  }

  @media (max-width: $mobile-width) {
    &::before {
      border-left: $mobile-width solid transparent;
    }
  }

  @media ($bp-tablet) {
    &::before {
      top: ($height-tablet * -1);
      border-bottom: $height-tablet solid $bg-color-tablet;
    }
  }

  @media ($bp-desktop) {
    &::before {
      top: ($height-desktop * -1);
      border-bottom: $height-desktop solid $bg-color-desktop;
    }
  }

}
