
@mixin triangle ($bg-color-modile, $bg-color-tablet, $bg-color-desktop, $height-modile, $height-tablet, $height-desktop) {

  &::before{
    content: "";

    position: absolute;
    top: ($height-modile * -1);
    z-index: 2;

    width: 0;
    height: 0;

    border-bottom: $height-modile solid $bg-color-modile;
  }

  &::before {
    right: 0;
    border-left: 100vw solid transparent;
  }

  @media (max-width: $width-mobile) {
    &::before {
      border-left: $width-mobile solid transparent;
    }
  }

  @media ($bp-tablet) {
    &::before {
      top: ($height-tablet * -1);
      border-bottom: $height-tablet solid $bg-color-tablet;
    }
  }

  @media ($bp-desktop) {
    &::before {
      top: ($height-desktop * -1);
      border-bottom: $height-desktop solid $bg-color-desktop;
    }
  }
}

@mixin two-triangles ($bg-color-modile, $bg-color-tablet, $bg-color-desktop, $height-modile, $height-tablet, $height-desktop) {

  &::before,
  &::after {
    content: "";

    position: absolute;
    bottom: ($height-modile * -1);
    z-index: 2;

    width: 0;
    height: 0;

    border-top: $height-modile solid $bg-color-modile;
  }

  &::before {
    left: 0;
    border-left: 50vw solid transparent;
  }

  &::after {
    right: 0;
    border-right: 50vw solid transparent;
  }

  @media (max-width: $width-mobile) {
    &::before {
      border-left: $width-mobile / 2 solid transparent;
    }

    &::after {
      border-right: $width-mobile / 2 solid transparent;
    }
  }

  @media ($bp-tablet) {
    &::before,
    &::after {
      bottom: ($height-tablet * -1);
      border-top: $height-tablet solid $bg-color-tablet;
    }
  }

  @media ($bp-desktop) {
    &::before,
    &::after {
      bottom: ($height-desktop * -1);
      border-top: $height-desktop solid $bg-color-desktop;
    }
  }
}

@mixin list-reset () {
  margin: 0;
  padding: 0;

  list-style: none;
}


@mixin font-face ($family, $src, $local-name-1, $local-name-2, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src:  local($local-name-1),
          local($local-name-2),
          url('#{$folder-fonts + $src}.woff2') format('woff2'),
          url('#{$folder-fonts + $src}.woff') format('woff');
          // url("../fonts/OpenSans-Light.woff2") format("woff2"),
          // url("../fonts/OpenSans-Light.woff") format("woff");
  }
}
