$black: #000000;
$white: #ffffff;
$blue-dark : #283645;
$pink : #d22856;
$red: #f25b26;
$green: #3dc644;
$green-bark: #2aab6d;
$grey: #efefef;
$form-grey: #e5e5e5;

$bg-grey: #f2f2f2;
$bg-white: $white;
$bg-header: rgba(255, 255, 255, 0.3);
$bg-main-image: #1d2631;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;

$mobile-padding: 20px;
$tablet-padding: 20px;
$desktop-padding: 10px;

$bp-tablet: $tablet-width;             //break point for tablet version
$bp-desktop: $desktop-width + 20px;    //break point for desktop version

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
